* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    width: 50% ;
    
  }
  
  /* Style the header */
  header{
      background-color: #333;
  }
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 80%;
    height: 100px; /* only for demonstration, should be removed */
    background:#27212C;
    padding: 20px;
    color: #786A85;
  }
  
  /* Style the list inside the menu */
 
  article {
    float: right;
    padding: 20px;
    width: 20%;
    background-color:#BD4182;
     /* only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  header ul li {
    float: left;
  }
  
  header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  header li a:hover {
    background-color: #111;
  }
  h2{
      margin-block-end: 0%;
      margin-block-start: 0%;
      font-size: 40px;
  }
  .container {
    display: flex;
    height: 183px;
    
 }
 #box-1 {
  background-color: dodgerblue;
  width: 33%;
  
}

#box-2 {
  background-color: orangered;
  width: 33%;
  
}
#box-3{
  background-color: yellow;
  width: 33%;
}